body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: Space-between;
    padding: 0 120px;
}

.header-links {
    font-size: 14px;
    color: #E5E7EB;
    display: flex;
    gap: 30px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 120px 90px;
}

.hero-content {
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 450px;
}

button {
    border-style: none;
    background-color: #3882F6;
    font-weight: 800;
    border-radius: 6px;
    padding: 8px 24px;
    max-width: 150px;
}

img{
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.info {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.info-head {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.info-content {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.img-1, .img-2, .img-3, .img-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img {
    max-width: 150px;
    min-width: 150px;
    height: 150px;
    border-radius: 12px;
}

.info-text {
    text-align: center;
    max-width: 150px;
    padding-top: 10px;
}

.quote {
    color: #1F2937;
    background-color: #E5E7EB;  
    padding: 70px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.quote-txt {
    font-size: 32px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    max-width: 700px;
}

.quote-sign {
    align-self: flex-end;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.call {
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 30px 25px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.call-button {
    border: 2px solid #E5E7EB;
    font-weight: 800;
    border-radius: 6px;
    padding: 8px 24px;
    margin: 0;
    max-width: 150px;
}

.call-head {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.call-sub {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #1F2937;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}