body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: Space-between;
    padding: 0 10%;
}

.header-links {
    font-size: 14px;
    display: flex;
    gap: 30px;
}

a, h4 {
    color: #F9FAF8;
    text-decoration: none;
}

